NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW52aXRpbmctZG9ua2V5LTQxLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_UI6gtzcxVVrSFjh6J8L8USfCPy8FatgSbOR3Nfh8MZ
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
WEBHOOK_SECRET=...
MONGODB_URI=mongodb...
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaS...
URL=http://localhost:3000